svg + svg {
  margin-left: 10px;
}

.card {
  border: 1px solid #4c4b4b;
  border-radius: 20px;
  height: 130px;
  width: 200px;
  padding: 4px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  cursor: pointer;
}

.card--selected {
  border: 2px solid #2196f3;
  padding: 3px;
  transform:scale(1.065, 1.1);
}
.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.board--locked {
  position: absolute;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.25;
}

.locked-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
}


.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}
